# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.KTANECompetitiveLogger.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Matthew\Documents\KTANE\KTANECompetitiveLogger\.idea\.idea.KTANECompetitiveLogger\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
